body {
    font-family: Arial, sans-serif !important;
    margin: 0 !important;
    padding: 0 !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    padding: 20px;
}


.booking-filter {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(81, 81, 81);
}

.filter-bar {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 50%;
}


.filter-bar button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #333;
    color: white;
}

.filter-bar button:hover {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #757575;
    color: white;
}


.create-booking {
    text-align: center;
}

.parking-layout img {
    max-width: 30%;
    height: auto;
    margin-bottom: 20px;
}

.tabs {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.tabs button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background: none;
    outline: none;
    position: relative;
}

.tabs button:focus {
    outline: none;
}

.tabs .tab-active {
    font-weight: bold;
}

.tab-indicator {
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: #333;
    transition: left 0.3s ease, width 0.3s ease;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
    animation: slideDown 0.3s;
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

table {
    width: 50%;
    margin: 0 auto;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

.book-link {
    display: inline-block;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    text-decoration: none;
    color: white;
    background-color: #007bff;
    border-radius: 4px;
}

.book-link:hover {
    background-color: #0056b3;
}

#show-vacant-btn{
    display: inline-block;
    width: 30%;
    padding: 8px;
    text-decoration: none;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    text-align: center;
    transition: background-color 0.3s;
}

#show-vacant-btn:hover{
    background-color: #0056b3;
}