body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
}

.profile-name {
    display: flex;
    font-size: 12px;
    font-weight: 100;
    padding-top: 20px;
    padding-left: 20px;
    justify-content: center;

}

.profile-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 10px;
}

.username {
    font-size: 2.8em;
    color: #333;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}

.text-section {
    max-width: 50%;
}

.text-section h1 {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 20px;
}

.text-section p {
    font-size: 1.2em;
    color: #666;
    margin-bottom: 20px;
}

.text-section button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.text-section button:hover {
    background-color: #0056b3;
}

.image-section {
    max-width: 50%;
    overflow: hidden;
    border-radius: 10px;
}

.image-section img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    padding: 50px;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;

    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        text-align: center;
    }

    .text-section, .image-section {
        max-width: 100%;
    }

    .text-section button {
        width: 100%;
        margin-top: 20px;
    }
}
