.container-registration {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title-registration {
    margin-top: 20px;
    padding: 0;
}

.form-card {
    background-color: #ddd;
    width: 40%;
    border-radius: 20px;
    border: 1px solid gray;
    margin-bottom: 20px;
}

.form-table {
    padding: 10px 0px;
    width: 70%;
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 0 15px;
}

.form-table td {
    text-align: left;
}

.form-control {
    width: 100%;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 16px;
    box-sizing: border-box;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.form-control:focus {
    border-color: #007bff;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.2);
}

.btn {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 10px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.btn:hover {
    background-color: #0056b3;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.2);
}
