
table.center {
    margin-left: auto; 
    margin-right: auto;
}

.logoUK {
    display: flex;
    justify-content: center; /* Horizontally centers the image */
    align-items: center; /* Vertically centers the image */
    margin-right: auto;
    margin-left: auto;
    width: 300px;
    height: 300px;
}
.logoUK img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}

.box1 {
    display: flex;
    justify-content: space-between; /* Ensure elements are evenly distributed */
    align-items: center; /* Center items vertically */
    margin-bottom: 20px; /* Add space after the box1 div */
}

.box1 h2 {
    margin: 0; /* Reset default margin */
}

.box1 button{
    float: right;
}

.container-summonslist {
    width: 80%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.button-container {
    margin-top: 5px;
        
}

.button-container button {
    margin: 0 10px;
    padding: 10px 10px;
    font-size: 16px;
    background-color:  #17252A;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.button-container button[type="submit"]:hover {
    background-color: green;
}

.button-container button[type="view"] {
    background-color: #0000FF;
    width:70px;
    height:40px;
    margin-right:40px;
    font-weight: normal;
}

#list{
    margin-bottom:100px;

}
td{
    justify-content:center;
    text-align:center;
    
}
th{
    text-align:center;
}

h6{
    text-align:center;
    color:red;
}



